# Data Structures In Python

## Built-in DataTypes
    - String
    - Lists
    - Tuples
    - Directories
    - Sets

## Lists

- List is like array, heterogeneous list

In [4]:
myList=[1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [5]:
l2=list([1,2,3])
print(l2)
print type(l2)

SyntaxError: invalid syntax (<ipython-input-5-bd60c1fe034c>, line 3)

In [6]:
l2=list([1,2,3])
print(l2)
print (type(l2))

[1, 2, 3]
<class 'list'>

In [7]:
l3 = list(l2)
print(l3)

[1, 2, 3]

In [8]:
l4=l3
l4.append(4)
print(l3)
print(l4)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [9]:
l3=l3+l2
print(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 4, 1, 2, 3]

In [10]:
l3.extend(l2)
print(l3)

[1, 2, 3, 4, 1, 2, 3, 1, 2, 3]

##### List Of Squares Of Numbers From One To Five

In [11]:
l4=[i*i for i in range (1,6)]
print(l4)

[1, 4, 9, 16, 25]

## List Slicing

In [12]:
print (l4[0:3])
print (l4[-3:])
print (l4[-1])
print (l4[3])

[1, 4, 9]
[9, 16, 25]
25
16

In [13]:
l5 =l4[1:3]
print (l5)

[4, 9]

## Insertion And Deletion
- append
- insert
- remove
- pop
- del

In [14]:
l=[1,2]
l.append(3)
l.append(l)
print(l)

[1, 2, 3, [...]]

In [15]:
l=[1,2]
l.append(3)
l.append([1,2])
print(l)

[1, 2, 3, [1, 2]]

###### if we will append the same list it will be denoted by [ . . . ]

In [16]:
l=l+[4,5,6]
print(l)
print(l[3])

[1, 2, 3, [1, 2], 4, 5, 6]
[1, 2]

In [17]:
print(l[3][1])

2

In [18]:
l.remove(3[1])

TypeError: 'int' object is not subscriptable

In [23]:
l.insert(3,[1,2])
print(l)
l.remove([1, 2])
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [25]:
l.insert(0,5)
print(l)
l.remove(5)
print(l)

[5, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [28]:
l.append(7)
print(l)
del l[6]
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]

In [29]:
x=l.pop()
print(x)

6

In [34]:
l=[1,2,3]
l=l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [35]:
l=["Apple","Mango","Gauva",80]
80 in l

True

In [36]:
for i  in range(len(l))
    print(l[i])

SyntaxError: invalid syntax (<ipython-input-36-f2fc64469fa4>, line 1)

In [37]:
for i  in range(len(l)):
    print(l[i])

Apple
Mango
Gauva
80

In [40]:
for i in l:
    print(l[i])

TypeError: list indices must be integers or slices, not str

In [41]:
for i in l:
    print(i)

Apple
Mango
Gauva
80

In [42]:
print(l)

['Apple', 'Mango', 'Gauva', 80]

In [47]:
l=["Apple","Mango","Gauva",80]
l.insert(1,"Banana")
print(l)

['Apple', 'Banana', 'Mango', 'Gauva', 80]

## More functions on lists : Searching & Sorting

In [48]:
l=[4,3,2,16,18]
print(max(l))
print(min(l))
l.index(16)

18
2

3

In [49]:
print(l.index(16))

3

##### it will perform linear search for finding the index

In [51]:
sorted(l)

[2, 3, 4, 16, 18]

In [52]:
print(l)

[4, 3, 2, 16, 18]

In [53]:
l=sorted(l)

In [54]:
print(l)

[2, 3, 4, 16, 18]

In [55]:
l=[2,5,89,7,1]
l.sort()

In [56]:
print(l)

[1, 2, 5, 7, 89]

In [57]:
l.sort(reverse=TRUE)

NameError: name 'TRUE' is not defined

In [58]:
l.sort(reverse=True)

In [60]:
print(l)

[89, 7, 5, 2, 1]

##### Read a list of numbers

In [61]:
numbers=input()
print(type(numbers))

12 3 4 5 9 2
<class 'str'>

In [62]:
numbers=input().split()
print(type(numbers))
print(numbers)

1 3 2 7 1 5 637 42 9
<class 'list'>
['1', '3', '2', '7', '1', '5', '637', '42', '9']

In [66]:
numbers=[int(number) for number in input().split()]
print(type(numbers))
print(numbers)

1 3 2 7 1 5 637 42 9
<class 'list'>
[1, 3, 2, 7, 1, 5, 637, 42, 9]

In [70]:
numbers=[int(number)*int(number) for number in input().split()]
print(type(numbers))
print(numbers)

1 3 2 7 1  5 637 42 9     4783
<class 'list'>
[1, 9, 4, 49, 1, 25, 405769, 1764, 81, 22877089]

## Dictionaries in Python

In [72]:
d={}
print(type(d))

<class 'dict'>

In [73]:
d={"Mango":10,"Gauva":2}

##### Look Up

In [74]:
print(d["Mango"])

10

In [75]:
d["Gauva"]=1
print(d)

{'Mango': 10, 'Gauva': 1}

In [76]:
d["Orange"]=0
print(d)

{'Mango': 10, 'Gauva': 1, 'Orange': 0}

In [77]:
d['Apples']=0.5
print(d)

{'Mango': 10, 'Gauva': 1, 'Orange': 0, 'Apples': 0.5}

In [78]:
d['Grape']=[10,20]
print(d)

{'Mango': 10, 'Gauva': 1, 'Orange': 0, 'Apples': 0.5, 'Grape': [10, 20]}

In [79]:
d['Pineapple']={'Small':600,'Large':550}
print(d)

{'Mango': 10, 'Gauva': 1, 'Orange': 0, 'Apples': 0.5, 'Grape': [10, 20], 'Pineapple': {'Small': 600, 'Large': 550}}

In [80]:
print(d['Pineapple'])

{'Small': 600, 'Large': 550}

In [81]:
print(d['Pineapple']['Large'])

550

In [82]:
print(d.keys())

dict_keys(['Mango', 'Gauva', 'Orange', 'Apples', 'Grape', 'Pineapple'])

In [83]:
print(d.values())

dict_values([10, 1, 0, 0.5, [10, 20], {'Small': 600, 'Large': 550}])

In [84]:
print(d['Mangoes'])

KeyError: 'Mangoes'

In [85]:
print(d.get('Mangoes'))

None

In [86]:
print(type(d.get('Mangoes')))

<class 'NoneType'>

In [87]:
if 'Mangoes' in d:
    print("Price of the fruit is : %d",d.get('Mangoes'))
else:
    print("Sorry buddy we are not having the fruit that you want !")

Sorry buddy we are not having the fruit that you want !

In [96]:
if 'Mango' in d:
    print("Price of the fruit is : %d"%(d['Mango']))
else:
    print("Sorry buddy we are not having the fruit that you want !")

Price of the fruit is : 10

In [97]:
if 'Mangoes' in d:
    print("Price of the fruit is : %d"%(d['Mangoes']))
else:
    print("Sorry buddy we are not having the fruit that you want !")

Sorry buddy we are not having the fruit that you want !

In [98]:
print(d.items())

dict_items([('Mango', 10), ('Gauva', 1), ('Orange', 0), ('Apples', 0.5), ('Grape', [10, 20]), ('Pineapple', {'Small': 600, 'Large': 550})])

In [99]:
l=list(d.items())
print(l)

[('Mango', 10), ('Gauva', 1), ('Orange', 0), ('Apples', 0.5), ('Grape', [10, 20]), ('Pineapple', {'Small': 600, 'Large': 550})]

In [104]:
d['Orange']=0
del d['Orange']
print(d)

{'Mango': 10, 'Gauva': 1, 'Apples': 0.5, 'Grape': [10, 20], 'Pineapple': {'Small': 600, 'Large': 550}}

In [106]:
del l[0]
print(l)

[('Gauva', 1), ('Orange', 0), ('Apples', 0.5), ('Grape', [10, 20]), ('Pineapple', {'Small': 600, 'Large': 550})]

In [107]:
d2={'Strawberry':95,'Apples':1.5}
d.update(d2)
print(d2)
print(d)

{'Strawberry': 95, 'Apples': 1.5}
{'Mango': 10, 'Gauva': 1, 'Apples': 1.5, 'Grape': [10, 20], 'Pineapple': {'Small': 600, 'Large': 550}, 'Strawberry': 95}

In [110]:
print(len(d))

6

In [111]:
d.clear()

In [112]:
print(len(d))

0

In [114]:
if 'Mangoes' not in d:
    print("Sorry buddy we are not having the fruit that you want !")
else:    
    print("Price of the fruit is : %d"%(d['Mangoes']))

Sorry buddy we are not having the fruit that you want !

In [115]:
l1 = {'Apples','Papaya','Guava','Banana'}
l2 = {100,120,30,50}
print(zip(l1,l2))

<zip object at 0x7fd2cf71e208>

In [116]:
print(dict(zip(l1,l2)))

{'Papaya': 120, 'Apples': 50, 'Guava': 100, 'Banana': 30}

In [117]:
p=dict(zip(l1,l2))
print(p)
print(type(p))

{'Papaya': 120, 'Apples': 50, 'Guava': 100, 'Banana': 30}
<class 'dict'>

In [118]:
print(type(l1))

<class 'set'>

In [121]:
l2.add(120)

In [122]:
print(l2)

{120, 50, 100, 30}

In [123]:
print(l2)

{120, 50, 100, 30}

In [125]:
l1 = {'Apples','Papaya','Guava','Banana'}
l2 = {100,120,30,50,64,2,745}
print(zip(l1,l2))
print(l2)

<zip object at 0x7fd2cf72c948>
{64, 2, 100, 745, 50, 120, 30}

In [126]:
for i in p:
    print(i)

Papaya
Apples
Guava
Banana

In [127]:
for i in p.keys():
    print(i)

Papaya
Apples
Guava
Banana

In [129]:
for i in p.values():
    print(i)

120
50
100
30

## Tuples in Python

In [130]:
t=(1,2.0,'Hello')
print(t)

(1, 2.0, 'Hello')

In [131]:
print(t[2])

Hello

In [132]:
t[2]=5

TypeError: 'tuple' object does not support item assignment

##### Strings and tuples are immutable

##### Convert a tuple into list

In [133]:
l=list(t)
print(l)

[1, 2.0, 'Hello']

##### Convert a list into tuple

In [134]:
t2=tuple(l)
print(t2)

(1, 2.0, 'Hello')

##### Concatenation

In [139]:
t=(1,2.0,'Hello')
t2=tuple(l)
t1=t+t2
print(t1)

(1, 2.0, 'Hello', 1, 2.0, 'Hello')

##### Repetition

In [135]:
t2=t2*3
print(t2)

(1, 2.0, 'Hello', 1, 2.0, 'Hello', 1, 2.0, 'Hello')

In [136]:
t2.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [137]:
t2.add(2)

AttributeError: 'tuple' object has no attribute 'add'

In [140]:
print(len(t2))

3

In [141]:
print(max(t2))

TypeError: '>' not supported between instances of 'str' and 'float'

In [142]:
t= (1,55,32,4,2,2.0)
print(max(t))

55

In [143]:
print(min(t))

1

In [144]:
del(t)

In [145]:
print(t)

NameError: name 't' is not defined

##### Python Sets

In [146]:
s1=set([1,2,3,4,5,6,5,4,3,2,1,1,1,8,9])
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9}

In [147]:
s2={1,2,3,4,5,22,32,22,22,22,43,2}
print(s2)

{32, 1, 2, 3, 4, 5, 43, 22}

In [148]:
s3=s1.union(s2)
print(s3)

{32, 1, 2, 3, 4, 5, 6, 8, 9, 43, 22}

In [149]:
s3.add(7)
print(s3)

{32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 43, 22}

In [150]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 9, 22, 32, 43}

In [152]:
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9}

In [153]:
print(s1|s2)

{32, 1, 2, 3, 4, 5, 6, 8, 9, 43, 22}

In [154]:
print(s1&s2)

{1, 2, 3, 4, 5}

In [155]:
print(s1.intersection(s2))

{1, 2, 3, 4, 5}

In [156]:
print(s1-s2)

{8, 9, 6}

In [157]:
print(s1.difference(s2))

{8, 9, 6}

In [158]:
s1.clear()

In [159]:
print(s1)

set()

In [161]:
s1=set([1,2,3,4,5,6,5,4,3,2,1,1,1,8,9])
if 4 in s1:
    print("Present")
else:
    print("Not Present")

Present

In [162]:
if 14 in s1:
    print("Present")
else:
    print("Not Present")

Not Present

In [163]:
a1={1,2,3,4}
a2={3,4,5,6}
print(a1^a2)

{1, 2, 5, 6}

In [164]:
print(a1<a2)

False

In [165]:
a3={3,4}
print(a3<a2)

True

In [166]:
print(a2>a3)

True

In [167]:
a4={3,4,5,6,6}
print(a2=a4)

TypeError: 'a2' is an invalid keyword argument for this function

In [168]:
print(a4)

{3, 4, 5, 6}

In [169]:
print(a2==a4)

True

In [170]:
print(a2>=a4)

True

In [171]:
print(a2<=a4)

True

In [172]:
print(a2=>a4)

SyntaxError: invalid syntax (<ipython-input-172-58a2e8836e98>, line 1)